/*
    geral
*/

.footer{
    display: flex;
    background: #691bbd;
    width: 80%;
    height: 6em;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}



/*
    logo
*/

.logo-footer{
    width: 13em;
    height: 5em;
    margin: 0 0 0 0;
}



/*
    caixa -> img e endereço
*/

.caixa-email{
    display: flex;
}

.email-img{
    width: 1.8em;
    height: 2.2em;
}

.email{
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
}



/*
    redes sociais -> linkedin / github
*/

.redes-socias{
    display: flex;
}

.linkedin{
    width: 3em;
}

.github{
    width: 3em;
}