/*
    banner
*/

.banner{
    font-family: 'Bebas Neue', cursive;
    height: 20em;
    background-image: url("banner-roxo.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    display: flex;
    align-items: center;
}

.titulo-banner{
    width: 100%;
    text-align: center;
    font-size: 8vw;
    
}



/*
    conteudo principal
*/

/*
    geral
*/

.conteudo-principal{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 4em;
}

.sub-titulos{
    height: 2em;
    text-align: center;
    padding-top: 1%;
    font-size: 2.5em;
    margin: 1.5em 0 0.5em;
}



/*
    como podemos te ajudar
*/

.caixa-intro{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr;
    grid-template-areas: "imagen texto";
    justify-items: stretch;
}

.caixa-imagem{
    grid-area: "imgen";
}

.caixa-texto{
    font-size: 1em;
    grid-area: "texto";
    padding: 2em 2em 0 0;
    font-weight: bold;
}



/*
    funcionalidades
*/

.caixa-funcionalidades{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: 
        "b1 b2" 
        "b3 b4";
    list-style: none;
    text-align: center;
}

.beneficio-1{
    padding: 2em 0 0 0;
    grid-area: "b1";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficio-2{
    padding: 2em 0 0 0;
    grid-area: "b2";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficio-3{
    padding: 2em 0 0 0;
    grid-area: "b3";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficio-4{
    padding: 2em 0 0 0;
    grid-area: "b4";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones{
    width: 8em;
}

.texto-icone{
    width: 50%;
    font-size: 1em;
    line-height: 1.3em;
}



/*
    localidades
*/

.caixa-localidade{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: 
        "l1 l2" 
        "l3 l4";
    list-style: none;
    text-align: center;
}

.localidade-1{
    padding: 2em 1em 0 1em;
    grid-area: "l1";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localidade-2{
    padding: 2em 1em 0 1em;
    grid-area: "l2";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localidade-3{
    padding: 2em 1em 0 1em;
    grid-area: "l3";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localidade-4{
    padding: 2em 1em 0 1em;
    grid-area: "l4";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos-sao_paulo{
    width: 100%;
    margin: auto;
    height: 15em;
}

.foto-descrisao{
    font-size: 0.8em;
}