body{
    max-width: 1200px;
    margin: 0 auto;
    background: #242424;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Righteous', cursive;
}